*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Trebuchet MS';
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

header h1.hide{
    display: none;
}


nav.open{
    justify-content: space-between;
    display: flex;
    width: 100%;
    height: 100dvh  ;
    /* background-color: gray; */
}

header nav a{
    display: none;
    color: black;
}

header nav ul{
    text-align: left;
    list-style: none;
    display: flex;
    flex-direction: column;
}

header nav a.show{
    display: inline-block;
    text-decoration: none;
    margin-top: 25px;
    font-size: 28px;
    
}

ul li:first-child a.show{
    margin-top: 80px;
    width: 100%;
}


#menuIcon{
    width: 40px;
    height: 40px;
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.post{
    margin-top: 50px;
    padding: 10px;
    border-top: 1px solid rgb(200, 200, 200);
    border-bottom: 1px solid rgb(200, 200, 200);
}

.post h2{
    margin-bottom: 10px;
}

.post-body{
    margin-bottom: 10px;
}

.post-info{
    display: flex;
    justify-content: space-between;
    text-decoration: underline;
    text-underline-offset: 2px;
}

.post-comments{
    margin-top: 20px;
}

.post-comments h3{
    margin-bottom: 10px;
    border-bottom: 1px solid black;
}

.comment-author{
    text-decoration: underline;
    text-underline-offset: 2px;
    margin-bottom: 2px;
}

.comment-body{
    margin-bottom: 7px;
}

#profile-container{
    margin-top: 100px;
}

#profile-container img{
    height: 200px;
    width: 200px;
}

#profile-container h2{
    margin-top: 20px;
}



@media screen and (min-width: 768px){
    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
    }

    header nav{
        margin-right: 50px;
    }

    header nav a{
        display: inline;
        text-decoration: none;
        margin: 0 25px;
        font-size: 20px;
    }

    header nav a:hover{
        text-decoration: underline;
        text-underline-offset: 6px;
    }

    #menuIcon{
        display: none;
    }

    header nav ul{
        text-align: left;
        list-style: none;
        display: flex;
        flex-direction: row;
    }

    main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    article.post{
        width: 50%;
        /* margin: 0 auto; */
    }

    .post-author:hover{
        cursor: pointer;
    }
}